body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  display: flex;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  background-image: url("https://api.imlazy.ink/img");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* 针对手机设备的样式 */
@media only screen and (max-width: 768px) {
  body {
    background-image: url("https://api.imlazy.ink/img-phone");
  }
}

/* 导航栏样式 */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: rgba(135,206,250, 0.6);
  padding-top: 20px;
  transition: 0.3s;
  z-index: 9999;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.active {
  z-index: 9995;
  left: 0;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  z-index: 9999;
}

.sidebar a:hover {
  background-color: rgba(70,130,180, 0.6);
  z-index: 9999;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

/* 收起按钮样式 */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

/* 内容区域样式 */
.content {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s;
  width: 100%;
  box-sizing: border-box;
  margin-left: 34px;
}

.content.active {
  margin-left: 34px;
}

/* 顶部导航按钮 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 12px;
  background-color: rgba(135,206,250, 0.6);
  z-index: 9900;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.navbar.active {
  display: none;
}

/* 按钮样式 */
.btn {
  background-color: rgba(135,206,250, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgba(135,206,250, 0.6);
}

.chart-controls {
  text-align: center;
  margin-bottom: 20px;
}

/* 图表容器样式 */
.canvas-container {
  width: 95%;
  height: 400px;
  background-color: rgba(255,255,255, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}