        /* 默认情况下，隐藏第二个div */
        .mobile {
            display: none;
        }

        /* 当屏幕宽度小1230px时，显示第二个div */
        @media screen and (max-width: 1230px) {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
        }

        /* 当屏幕宽度大于等于1230px时，显示第一个div */
        @media screen and (min-width: 1231px) {
            .desktop {
                display: block;
            }
            .mobile {
                display: none;
            }
        }